{% extends "base.html" %}
{% block main %}
<div class="container" style="background-color:#cb252c ;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div action="/login" class="container" style="background-color:#cb252c ;" style="opacity: 50%;">
    <h1 style="text-align: center;" >Login</h1>
    <form method="POST" action="/login"> 
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!--This is Where Username and Password inputs and Auth-->
        <div class="form-group"> <!--Username-->
            <label for="email">Email:</label><br>
            <input type="text" class="form-control"  placeholder="Email" name="email">
        </div>
        <div class="form-group"> <!--Password-->
            <label for="password">Password:</label><br>
            <input type="password" class="form-control"  placeholder="Password" name="password">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"> <!--Submit Button-->
    </form>

        </div>
    </div>
</div>
{% endblock %}
