{% extends "base.html" %}
{% block main %}

<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="../static/css/style.css">
<div class="container" style="background-color:#cb252c ;">
<div class="row">
    <div class="col-3"></div>
    <div class="col-5 loginpage">
        <form method="POST" action="/profile" enctype="multipart/form-data"> 
            <h1>Update Your Profile</h1>
            {% with messages = get_flashed_messages() %}
						{# Handle messages here #}
					{% endwith %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!--This is Where Username and Password inputs and Auth-->
            <div class="form-group">
                <label>First name</label>
                <input type="text" name="firstname" class="form-control" value="{{ session['user']['first_name'] }}" placeholder="First name">
              </div>
              <div class="form-group">
                <label>Last name</label>
                <input type="text" name="lastname" class="form-control" value="{{ session['user']['last_name'] }}" placeholder="Last name">
              </div>
              <div class="form-group">
                <input type="file" name="avatar"/>
              </div>
              {% if session['user']['avatar'] %}
              <div id="avatar">
                <img class="size" src="{{ session['user']['avatar'] }}" alt="Your Profile Image">
              </div>
              {% endif %}
              <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="col-3"></div>
    </div>
</div>
{% endblock %}