{% extends "base.html" %}
{% block main %}
 <div class="container">
    <h1 style="text-align: center;">Register</h1><br>
    <div class="form" style="text-align: center;">
        <form action="/register" id="formything" style="padding-left: 3rem;" method="POST">
            <input placeholder="first name" type="text"><br><br>
            <input placeholder="last name" type="text"><br><br>
            <input type="email" id="email" name="email" placeholder="email address"><br><br>
            <input type="text" id="password" name="password" placeholder="password"><br><br>
            <input type="text" id="passwordc" name="password_confirm" placeholder="confirm password"><br><br>
            <input type="submit" value="Submit"></form>
        </form><br>
        <a href="/login" style="text-align:center;">already have an account?</a>
    </div>
</div>
{% endblock %}

