{% extends "base.html" %}
{% block main %}
 <div class="container" style="background-color:#cb252c ;">
    <h1 style="text-align: center;">Register</h1><br>
    <div class="form" style="text-align: center;">
        <form method="POST" action="/register">
            <h1 class="title"></h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                <small id="emailHelp" class="form-text text-muted">We will sell your email to corporations for money and blowjobs, email us to see how much we are selling you for</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control"  placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control"  placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm password" name="password_confirm">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="/login" style="text-align:center;">already have an account?</a>
    </div>
</div>
{% endblock %}

