#error404{
    background: url(../img/404-error-design-with-box_23-2147733484.jpg) no-repeat right center;
    height: calc(100vh - 56px);
    display: block;
    position: relative;
    background-size: 626px 626px;
}
#error404 h1{
    font-size: 8rem;
    margin-top: 2rem;
}
.form{
    align-content: center;
}

body{
    background-image: url();
}

.container{
    padding: 100px 5px 5px 5px;
    height: 200px;
    background-color: white;
}

.form-control{
    width: 500px;
    text-align: center;
    align-content: center;
    display: inline-block;
    margin-inline: 10px;
}

.text-center{
    padding-left: 350px;
}    
.grid-item{
    width: calc(33.3333% - 30px);
    float: left;
    margin-bottom: 30px;
}
.grid-item img{
    width: 100%;
    height: auto;
}